/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); /* Darkens background */
    overflow: hidden; /* Prevents background from scrolling */
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    /* max-width: 600px; */
    max-height: 90%; /* Limits the height of the modal to 80% of the viewport height */
    overflow-y: auto; /* Makes the modal content scrollable if it exceeds max-height */
    position: relative; /* To position the close button inside the modal */
}

/* Close Button */
.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Centering the Vision and Mission headers */
.modal-content h4 {
    text-align: center; /* Centers the text */
    margin-top: 20px; /* Adds space above the header */
    margin-bottom: 20px; /* Adds space below the header */
}

/* Ensure bullets are visible in the list */
.modal-content ul {
    list-style-type: disc; /* Sets the bullet style */
    padding-left: 20px; /* Adds some space before the bullets */
    margin-top: 10px; /* Adds space above the list */
}

.modal-content li {
    margin-bottom: 10px; /* Adds space between list items */
}

.popup-logo{
    width: 50%;
}

/* No scrolling on the body when modal is open */
.no-scroll {
    overflow: hidden; /* Disables scrolling on the main page */
}
